# Client Side
NEXT_PUBLIC_SERVER_URL='http://localhost:6969'
NEXT_PUBLIC_APP_URL='http://localhost:3000'
SESSION_PASSWORD="SESSION_SECRET_12329374hs79237492837373973"
SESSION_COOKIE_NAME="BOOKING_APP_SESSION"