# Client Side
NEXT_PUBLIC_SERVER_URL='http://localhost:6969'
NEXT_PUBLIC_APP_URL='http://localhost:5000'

# JWT
JWT_SECRET_KEY="JWT_SECRET_KEY_123@#"
JWT_ALGORITHM="HS256"

# FIREBASE
FIREBASE_API_KEY="AIzaSyBXKFeTf1Znq5_2YLSqeLVvCikl0JDmTPE"
FIREBASE_AUTH_DOMAIN="datn-2023-2d1eb.firebaseapp.com"
FIREBASE_PROJECT_ID="datn-2023-2d1eb"
FIREBASE_STORAGE_BUCKET="datn-2023-2d1eb.appspot.com"
FIREBASE_MESSAGING_SENDER_ID="563336886126"
FIREBASE_APP_ID="1:563336886126:web:b81deb0e0d3d106931737f"
FIREBASE_MEASUREMENT_ID="G-S92W0BNP2S"