# Client Side
NEXT_PUBLIC_SERVER_URL='http://localhost:6969'
NEXT_PUBLIC_APP_URL='http://localhost:4000'

# JWT
JWT_SECRET_KEY="JWT_SECRET_KEY_123@#"
JWT_ALGORITHM="HS256"

# FIREBASE
FIREBASE_API_KEY=""
FIREBASE_AUTH_DOMAIN=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_APP_ID=""
FIREBASE_MEASUREMENT_ID=""