@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: '"Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"',
}

.ant-layout-sider {
    width: 250px !important;
    max-width: 250px !important;
}

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background-color: #2196F3;
    height: 3px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000
}

.bnb2 {
    color: #52c41a;
    font-weight: 700;
}

small.redtext {
    color: red;
}

.icon-box {
    width: 48px;
    height: 48px;
    text-align: center;
    background: #1890ff;
    color: #fff;
    border-radius: 0.5rem;
    margin-left: auto;
    line-height: 55px;
}

.icon-box span {
    color: #fff;
    font-size: 24px;
}