@tailwind base;
@tailwind components;
@tailwind utilities;

button,
[type='button'],
[type='reset'],
[type='submit'] {
    background-color: #1677ff !important;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

.ant-layout-sider {
    width: 250px !important;
    max-width: 250px !important;
}
